---
import { Container } from '@littlesticks/odyssey-theme-components';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import TestimonialCard from '../components/TestimonialCard.astro';
---

<Layout>
	<HomeHeroSection />

	<Container>
		<section class="feature-card__section">
			<h2 class="centered">Planning Application Project Stages</h2>
			<p class="centered-paragraph centered-with-margin">
				For more information on our bespoke design advice service and planning
				application submissions process please call John Irwin on 07562 724621
				or complete the <a href="/company/contact">Enquiry Form</a> here and we will
				respond as soon as possible.
			</p>
			<div class="feature-card__grid-alt">
				<div>
					<h3 class="h3-margin-top">Survey</h3>
					<picture>
						<img src="/assets/images/home/measure-and-pen-resized.webp" alt=""
						/>
					</picture>
					<p class="centered-paragraph">
						We conduct a thorough physical site survey for planning
						applications. This survey includes precise dimensional measurements
						of the site, as well as a comprehensive investigation of the
						existing building structure. This survey helps us gather accurate
						data to inform the planning process and ensure that your project is
						feasible and compliant with regulations.
					</p>
				</div>
				<div>
					<h3>Design</h3>
					<picture>
						<img src="/assets/images/home/draft-with-pens-resized.webp" alt=""
						/>
					</picture>
					<p class="centered-paragraph">
						Following the completion of the physical site survey we are able to
						clarify your design parameters. From this initial consultation and
						preliminary sketches, the full building plans can be prepared
						including any alterations and additions that may be required.
					</p>
				</div>
				<div>
					<h3>Application</h3>
					<picture>
						<img src="/assets/images/home/application-pen-resized.webp" alt=""
						/>
					</picture>
					<p class="centered-paragraph">
						To complete the planning application submission correctly to the
						Local Planning Authority the planning submission requires detailed
						scale drawings, completed application forms and the submission of
						appropriate fees. A precise and analytical submission prepared by
						Planning Application Services will give you the upmost opportunity
						for a successful planning application.
					</p>
				</div>
			</div>
		</section>
	</Container>

	<Container>
		<section class="feature-card__section">
			<h2 class="centered">Additional Services Offered</h2>
			<p class="centered centered-with-margin">
				Upon request we can quote for additional services.
			</p>
			<div class="feature-card__grid-single">
				<div class="feature-container">
					<div class="feature-left">
						<h3 class="feature-heading-large-screen">Structural Design</h3>
						<picture>
							<img
								src="/assets/images/home/house_with_tape-min-resized.webp"
								alt=""
							/>
						</picture>
					</div>
					<div class="feature-right">
						<h3 class="feature-heading">Structural Design</h3>
						<p class="centered-paragraph">
							If your building project has complex design requirements, Planning
							Application Services can provide expert structural design services
							to ensure the stability and safety of your structure. Depending on
							the project's complexity, we may engage the services of a
							professional structural engineer to review and approve the design.
							We will work closely with you to create a design that meets your
							needs, while adhering to all relevant regulations and standards.
						</p>
					</div>
				</div>
				<div class="feature-container">
					<div class="feature-left">
						<h3 class="feature-heading-large-screen">Building Regulations</h3>
						<picture>
							<img
								src="/assets/images/home/red_house_small-min-resized.webp"
								alt=""
							/>
						</picture>
					</div>
					<div class="feature-right">
						<h3 class="feature-heading">Building Regulations</h3>
						<p class="centered-paragraph">
							For larger building projects, the submission of building
							regulations for approval is typically required. Building
							regulations relate to the quality of the construction and the
							compliance to current building regulations. Planning Application
							Services will manage the application and the liason with the
							building control department in your Local Council Authority on
							your behalf.
						</p>
					</div>
				</div>
				<div class="feature-container">
					<div class="feature-left">
						<h3 class="feature-heading-large-screen">Scope of Works</h3>
						<picture>
							<img
								src="/assets/images/home/drafting_house-min-resized.webp"
								alt=""
							/>
						</picture>
					</div>
					<div class="feature-right">
						<h3 class="feature-heading">Scope of Works</h3>
						<p class="centered-paragraph">
							Planning Application Services can prepare a comprehensive scope of
							works document that outlines the specific details of your project
							for your building contractor to tender. By providing a clear scope
							of works document this will help you obtain accurate and
							competitive quotes from contractors, while ensuring that your
							project meets your vision and goals.
						</p>
					</div>
				</div>
			</div>
		</section>
	</Container>
	<Container>
		<!-- TODO: should the about section be here or at the top under the hero? -->
		<section class="about-section">
			<div class="about-left">
				<div>
					<h2>About Us</h2>
					<p>
						With over 30 years of experience in the building industry
						<strong>Planning Application Services</strong> is well-equipped to help
						you navigate the planning application process. We prepare high-quality
						plans that meet the requirements of local authorities across a wide region,
						including several planning authorities in the
						<strong>Yorkshire and Northeast regions.</strong> In addition to this
						we also offer expert design advice.
						<br />
						<br />
						Learn more about <a href="/company/about">our services</a> here.
					</p>
				</div>
			</div>
			<div class="about-right">
				<picture>
					<!-- TODO: need to set alt tags for all images -->
					<img src="/assets/images/home/john-pic-min-resized.webp" alt="" />
				</picture>
			</div>
		</section>
	</Container>

	<Container>
		<TestimonialCard />
	</Container>
</Layout>

<style>
	/* TODO: tidy up CSS */
	.about-section {
		display: flex;
		justify-content: center;
		gap: 3rem;
		margin-bottom: 6rem;
	}
	.about-left {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		max-width: 50%;
	}
	.about-left p {
		max-width: 80%;
	}
	.about-right {
		max-width: 50%;
	}
	.about-right img {
		width: 100%;
		height: 100%;
		border-radius: var(--theme-shape-radius);
	}
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__section img {
		border-radius: var(--theme-shape-radius);
	}
	.centered {
		text-align: center;
	}
	.centered-with-margin {
		margin-bottom: 3rem;
	}
	.centered-paragraph {
		text-align: justify;
		margin: 1rem 0 3rem 0;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
		margin-bottom: 6rem;
	}
	.feature-card__grid-alt {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
		margin-bottom: 6rem;
		text-align: center;
	}
	.feature-card__grid-single {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 1.5rem;
		margin-bottom: 6rem;
		/* text-align: center; */
	}
	.feature-container {
		display: flex;
		margin-bottom: 2rem;
	}

	.feature-card__grid p {
		max-width: 80%;
	}
	.feature-left {
		margin-right: 2rem;
	}
	.feature-right {
		padding-right: 1rem;
	}
	.feature-right,
	.feature-left {
		max-width: 50%;
	}
	.feature-heading-large-screen {
		display: none;
	}

	@media (max-width: 768px) {
		.about-section {
			display: flex;
			flex-direction: column;
			margin-bottom: 3rem;
			gap: 1rem;
		}
		.about-left {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			max-width: 100%;
		}
		.about-left p {
			max-width: 100%;
		}
		.about-right {
			max-width: 100%;
		}

		.feature-card__grid {
			grid-template-columns: 1fr;
			margin-bottom: 0;
		}
		.feature-card__grid p {
			max-width: 100%;
		}
		.feature-card__grid-alt {
			grid-template-columns: repeat(1, 1fr);
		}
		.centered-paragraph {
			margin: 1rem 0 0 0;
		}
		.feature-container {
			display: flex;
			flex-direction: column;

			text-align: center;
			margin-bottom: 1rem;
		}
		.feature-right,
		.feature-left {
			max-width: 100%;
		}
		.feature-left {
			margin-right: 0;
		}
		.feature-right {
			padding-right: 0;
		}
		.feature-heading-large-screen {
			display: block;
		}
		.feature-heading {
			display: none;
		}
		.h3-margin-top {
			margin-top: 2rem;
		}
	}
</style>
