---
import {
	Button,
	FormInput,
	FormSelect,
	FormTextarea,
} from '@littlesticks/odyssey-theme-components';

const selectOptions = ['Google Search', 'Social Media', 'Email'];
---

<!-- netlify is set here to allow netlify forms to automatically set data capture from the form -->
<form name="contact" netlify netlify-honeypot="bot-field" data-netlify="true">
	<FormInput type="text" label="Name" name="name" placeholder="John Doe" />
	<FormInput
		type="email"
		label="Email"
		name="email"
		placeholder="hello@example.com"
	/>
	<FormInput type="tel" label="Phone" name="phone" placeholder="0123456789" />
	<FormSelect
		label="How Did You Hear About Us?"
		options={selectOptions}
		name="source"
	/>
	<FormTextarea
		label="Message"
		name="message"
		placeholder="Your message here..."
	/>
	<Button>Submit</Button>
</form>

<style>
	form {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
	}
</style>
