---
import {
	Button,
	FormInput,
	FormSelect,
	FormTextarea,
} from '@littlesticks/odyssey-theme-components';

const selectOptions = ['Google Search', 'Social Media', 'Email'];
---

<form name="contact" netlify>
	<FormInput type="text" label="Name" name="name" placeholder="John Doe" />
	<FormInput
		type="email"
		label="Email"
		name="email"
		placeholder="hello@example.com"
	/>
	<FormSelect
		label="How Did You Hear About Us?"
		options={selectOptions}
		name="source"
	/>
	<FormTextarea
		label="Message"
		name="message"
		placeholder="Your message here..."
	/>
	<Button>Submit</Button>
</form>

<style>
	form {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
	}
</style>
