---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Planning Application Services',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>Experience and Expertise You Can Trust</h1>
			<p>
				Planning Application Services provides a personal and bespoke planning
				application service for you which has been created to ensure a smooth
				and seamless process to obtain your planning approval.
			</p>
		</div>
		<picture slot="image-container" class="about-image">
			<!-- TODO: set alt text -->
			<img
				src="/assets/images/home/john-pic-min-resized.webp"
				alt="John Irwin at work"
				id="home-hero-image"
			/>
		</picture>
	</HeroSection>
	<TextSection narrow>
		<p>
			With over <strong>30 years of experience</strong> in the building industry
			and qualifications in building services. We have the expertise to help your
			project to succeed. Our experience allows us to provide you with valuable design
			advice, while also ensuring that all plans are drawn to the highest quality
			standards. We have extensive experience in submitting Planning Applications
			to local authorities across a wide region, including several planning authorities
			within the <strong>Yorkshire and Northeast regions</strong>.
		</p>
		<p>
			Each local planning authority has its own unique priorities and processes,
			which can make the planning approval process complex and time-consuming.
			However, with our extensive experience in collaborating with various
			planning authorities, we can provide you with expert advice on the
			requirements for each individual authority.
		</p>

		<p>
			At the design stage of your project, expert advice is crucial to the
			greatest possibility of the success of your project.
		</p>
		<p>
			<strong>These iclude:</strong>
		</p>

		<p>House Extensions</p>
		<p>Conservatories & Orangeries</p>
		<p>Garden Rooms</p>
		<p>Barn Conversions</p>
		<p>Loft Conversions</p>
		<p>Renovation projects including listed buildings</p>

		<!-- TODO:add link here back to contact page -->
		<p>
			For more information on our bespoke design advice service and planning
			application submissions process please call John Irwin on <strong
				>07562 724621</strong
			> or complete the <a href="/company/contact">Enquiry Form</a> on the Contact
			page and we will respond to you as soon as possible.
		</p>
	</TextSection>
</Layout>

<style>
	/* to keep image centred on mobile */
	@media (max-width: 768px) {
		.about-image {
			display: block;
			margin: 0 auto;
		}
	}
</style>
