---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Astro Odyssey Theme',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About JJ Irwin & Associates</h1>
			<p>
				We provide a personal and bespoke planning application service for you which has been created to ensure a smooth and seamless process to obtain your planning approval
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/classic-hero.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    <p>
      We are qualified in building services. We have over 30 years of experience in the building industry. We offer design advice, preparation and drawing of quality plans and the submission of Planning Applications to local authorities covering a wide region. We have experience with several planning authorities within the <strong>Yorkshire and Northeast regions</strong>.
    </p>
    <p>The planning requirements for each individual authority often vary regarding their priorities and their processes. The experience we have gained by collaborating with each individual authority helps us to advise you on what is required to ensure your plans are approved. This can save time and costs during the process.</p>
    
    <p>
      We are also able to advise you at the design stage of your plans as we have many years of experience in project managing a variety of domestic and business developments, examples of which are included on this website for your information.
    </p>
    <p>
      <strong>These include:</strong>
    </p>
   
    <p>House Extensions</p>
    <p>Conservatories & Orangeries</p>
    <p>Garden Rooms</p>
    <p>Barn Conversions</p>
    <p>Loft Conversions</p>
    <p>Renovation projects including listed buildings</p>
    
    <!-- TODO:add link here back to contact page -->
    <p>For more information on our bespoke design advice service and planning application submissions process please call John Irwin on <strong>07562 724621</strong> or click and complete the Contact form on the Contact Us page and we will respond to you as soon as possible.</p>
  </TextSection>
</Layout>









