---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Astro Odyssey Theme',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>Experience and Expertise You Can Trust</h1>
			<p>
				Planning Application Services provides a personal and bespoke planning
				application service for you which has been created to ensure a smooth
				and seamless process to obtain your planning approval.
			</p>
		</div>
		<picture slot="image-container" class="about-image">
			<!-- TODO: set alt text -->
			<img
				src="/assets/images/home/john-pic-min.jpg"
				alt="Astro Odyssee"
				id="home-hero-image"
			/>
		</picture>
	</HeroSection>
	<TextSection narrow>
		<p>
			With over <strong>30 years of experience</strong> in the building industry
			and qualifications in building services, our team has the expertise to help
			your project succeed. Our experience allows us to provide you with valuable
			design advice, while also ensuring that all plans are drawn to the highest
			quality standards. We also have extensive experience in submitting Planning
			Applications to local authorities across a wide region, including several planning
			authorities within the <strong>Yorkshire and Northeast regions</strong>.
			With our team by your side, you can trust that your project is in good
			hands.
		</p>
		<p>
			Each local planning authority has its own unique priorities and processes,
			which can make the planning approval process complex and time-consuming.
			However, with our team's extensive experience in collaborating with
			various planning authorities, we can provide you with expert advice on the
			requirements for each individual authority. By following our guidance, we
			can help ensure that your plans are approved efficiently, saving you time
			and costs during the process. With our help, you can navigate the
			complexities of the planning approval process with ease and confidence.
		</p>

		<p>
			At the design stage of your project, expert advice is crucial to ensure
			the success of your development. With our team's extensive experience in
			project managing a variety of domestic and business developments, we can
			offer you valuable insights and advice to help you make informed
			decisions. We have included examples of our successful projects on this
			website to give you an idea of our capabilities. With our help, you can
			achieve your development goals with confidence and ease.
		</p>
		<p>
			<strong>These include:</strong>
		</p>

		<p>House Extensions</p>
		<p>Conservatories & Orangeries</p>
		<p>Garden Rooms</p>
		<p>Barn Conversions</p>
		<p>Loft Conversions</p>
		<p>Renovation projects including listed buildings</p>

		<!-- TODO:add link here back to contact page -->
		<p>
			For more information on our bespoke design advice service and planning
			application submissions process please call John Irwin on <strong
				>07562 724621</strong
			> or click and complete the Contact form on the Contact Us page and we will
			respond to you as soon as possible.
		</p>
	</TextSection>
</Layout>

<style>
	/* to keep image centred on mobile */
	@media (max-width: 768px) {
		.about-image {
			display: block;
			margin: 0 auto;
		}
	}
</style>
