---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';

const seo = {
	title: `FAQ Page | Planning Application Services`,
	description: `This is the FAQ page. It is where you can find answers to the most frequently asked questions about the services that Planning Application Services provides.`,
};
---

<Layout {seo}>
	<TextSection narrow>
		<h1>FAQs</h1>

		<h2>How do I know if I need planning permission?</h2>

		<p>
			We can check your design and advise if planning permission is required.
			Not all building projects need planning permission. You can also review
			the "Permitted Development" section on www.planningportal.co.uk
		</p>

		<h2>How much will your services cost?</h2>

		<p>
			We will be able to provide you with an approximate estimate following our
			initial telephone consultation. The site survey allows us to assess the
			complexity of the project and to understand if you require other support
			in addition to the planning application i.e., advise on building
			regulations.
		</p>

		<h2>Do you need to visit my property?</h2>

		<p>
			Yes. We always visit the premises to carry out a thorough site survey.
			This ensures the information we include in the planning application is
			accurate and up to date.
		</p>

		<h2>What is the planning process?</h2>

		<p>
			Please refer to the information on this website which provides an outline
			of the process.
		</p>

		<h2>Will I need to submit a Building Control application as well?</h2>

		<p>
			Almost all extensions, conversions and new build projects require a
			Building Control application. We will review your project and advise you
			on what is required. We will also prepare the technical drawings and
			construction specification required for the application and submit this on
			your behalf if required.
		</p>
	</TextSection>
</Layout>

<style>
	h1 {
		margin-bottom: 3rem;
	}
	p:not(:last-of-type) {
		margin-bottom: 3rem;
	}
</style>
