---
---

<h2 class="testimonials-header">Testimonials</h2>

<div class="testimonials-container">
	<div class="testimonial-outer-container">
		<div class="name-container">
			<h3 class="name">Mr Price</h3>
		</div>
		<div class="testimonial-container">
			<p class="testimonial">
				"John prepared the full planning application for the loft conversion to
				my bungalow, it was promptly and professionally prepared including
				meeting with the planning officer, the whole process was made very
				simple. John kept me informed at every stage of the process and I would
				recommend his work to anyone."
			</p>
		</div>
	</div>
	<div class="testimonial-outer-container">
		<div class="name-container">
			<h3 class="name">Dr Boast</h3>
		</div>
		<div class="testimonial-container">
			<p class="testimonial">
				"We wanted to add a rear extension and convert half the double garage
				for habitable use. John came to the initial meeting within 2 days of
				contacting us and after preparing all the drawings and making a lot of
				innovative changes to our plans he made a full planning application to
				York Council within a few weeks. We have recommended John to our friends
				in the village without any reservation."
			</p>
		</div>
	</div>
	<div class="testimonial-outer-container">
		<div class="name-container">
			<h3 class="name">Mr Hogan</h3>
		</div>
		<div class="testimonial-container">
			<p class="testimonial">
				"Two contracts have been planned and executed by Planning Application
				Services. One required the preparation and submission of a detailed
				planning application and both involved the services of a structural
				engineer . Both contracts were signed off for building regulations
				purposes without any queries. The whole process was very smooth."
			</p>
		</div>
	</div>
</div>

<style>
	.testimonials-header {
		text-align: center;
		margin-bottom: 3rem;
	}
	.testimonials-container {
		display: flex;

		gap: 1.5rem;
		margin-bottom: 3rem;
	}
	.testimonials-container h3 {
		font-size: 20px;
	}
	.testimonials-container p {
		font-size: 14px;
		font-weight: bold;
	}
	.testimonial-outer-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		background-color: #2c3e2d1e;
		width: 100%;
		min-height: fit-content;
		padding: 0.5rem 1.5rem;
		border-radius: var(--theme-shape-radius);
		box-shadow: 1px 1px 10px 5px #0000000e;
		text-align: justify;
	}
	@media (max-width: 768px) {
		.testimonials-header {
			margin-bottom: 1rem;
		}
		.testimonials-container {
			display: flex;
			flex-direction: column;
		}
		.testimonial-outer-container {
			margin: 0 auto;
			width: 100%;
			height: fit-content;
			margin-bottom: 0.5rem;
			padding: 1.5rem 2rem;
		}
	}
</style>
